# Created by .ignore support plugin (hsz.mobi)
.idea
Exam_1
Exercises_module_I
img
Workshops
01 Python-podstawy-v.1.1.dzien-1.pdf
01 Python-podstawy-v.1.1.dzien-2.pdf
01 Python-podstawy-v.1.1.dzien-3.pdf
01 Python-podstawy-v.1.1.dzien-4.pdf
Kontakt do prowadzącego modułu
README.md
